fastapi
pydantic
python-dotenv
sqlalchemy
uvicorn
pydantic_settings
fastapi_restful
typing-inspect
PyJWT
passlib[argon2]
argon2-cffi
passlib
starlette
pydantic[email]
python-multipart
pandas
openpyxl
asyncpg
python-magic
defusedxml